body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



/* SECTION: Navbar core styling */
.navbar {
  background-color: transparent !important;
  height: 6.25rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  transition: background-color .4s ease-in-out;
}

.navbar-nav {
  margin-left: 7.5rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 2px;
  gap: 0.75rem;
}

.navbar-brand {
  color: white !important;
  margin-left: 6rem;
  font-weight: 600;
}

.caspian-text {
  line-height: 1;
  font-size: 0.9rem;
}

.elegance-text {
  font-size: 1.5rem;
  line-height: 1;
}

.navbar .nav-link {
  color: white;
  position: relative;
  cursor: pointer;
  --text-width: 50%;
}

.navbar .search-button{
  font-size: 1.2rem;
  margin-top: 0.2rem;
}

.navbar .sing-in-button{
  font-size: 1.3rem;
  margin-top: 0.1rem;
}

.navbar .language-button{
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-right: 6rem;
}

/* Navbar hover effects */
.navbar:hover {
  background-color: white !important;
}

.navbar:hover .nav-link, 
.navbar:hover .navbar-brand {
  color: black !important;
  transition: 0.4s ease-in-out;
}

.navbar:hover .nav-link:hover {
  color: #010e81 !important;
  transition: color 0s;
}

.navbar .nav-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  margin-bottom: 0.3125rem;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #010e81;
  transform: translateX(-50%);
  transition: width 0.4s ease;
}

.navbar .nav-link:hover:not(.dropdown-toggle)::after {
  width: var(--text-width);
}

.navbar .nav-link.active-link::after {
  width: var(--text-width);
}



/* SECTION: Mega menu styles */
.navbar.mega-open {
  z-index: 2000;
  position: relative;
  background-color: white !important;
}

.navbar.mega-open::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 4px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
  z-index: 2000;
}

.navbar.mega-open .nav-link,
.navbar.mega-open .navbar-brand {
  color: black !important;
}

.mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: white;
  height: 100vh;
  z-index: 2000;
  display: none;
  overflow-y: auto;
  margin-top: 1.9rem;
}

.nav-item {
  position: static;
}

.nav-item.show .mega-menu {
  display: block;
}

/* Close mega menu button styles */
.close-mega-menu {
  position: absolute;
  top: 1rem;
  right: 3rem;
  font-size: 2rem;
  cursor: pointer;
  color: #6c757d;
  z-index: 99999;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* SECTION: Where-to-go */
.items-layout-where{
  margin-top: 1rem;
}

.mega-menu-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-left: 1.4rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

/*Routes*/
.routes-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.route-card {
  background-color: #f8f9fa;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.route-card:hover {
  color: #010e81;
  background-color: #e8ebf9;
}

.route-card .card-img {
  width: 200px;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: var(--bs-card-border-radius);
  border-bottom-left-radius: var(--bs-card-border-radius);
}

.route-card .card-body {
  padding: 0.5rem;
}

.route-card .card-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.7rem;
  font-size: 1rem;
}

.route-card .card-text {
  font-weight: 400;
  margin: 0;
  font-size: 0.875rem;
  color: #495057 ;
}

/*Map*/
.map-and-details {
  padding: 1rem;
}

.routes-map {
  width: 23.25rem;
  height: 23.25rem;
  margin-top: 1.05rem;
}

.region {
  fill: #dbe3ea;
  stroke: white;
  stroke-width: 1;
}

.region.highlight {
  fill: #5c7db2;
  transition: 0.3s ease-in-out;
}



/*SECTION: Things-to-do*/
.items-layout-things{
  margin-top: 0.2rem;
}


/* Category links */
.category-body{
  padding-bottom: 2rem;
}

.category-title{
  display: inline-block;
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: .5px;
  color: black;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
}

.category-link{
  font-weight: 500;
  color: #495057;
  text-decoration: none;
}

.category-link-arrow {
  position: relative;
  font-size: 0.7rem;
  top: 1px;
}

.category-link:hover {
  color:#010e81;
}

.see-all-link {
  display: inline-block;
  font-weight: 600;
  margin-top: 0.5rem;
  color: black;
  text-decoration: none;
}


/* Category's preiview setup */
.preview-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  border-radius: 0.5rem;
  height: 500px;
}

/* Category's image */
.preview-wrapper img.preview-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.6s ease;
}

.preview-wrapper img.current-img {
  opacity: 1;
  z-index: 1;
}

.preview-wrapper img.next-img {
  opacity: 0;
  z-index: 0;
}

/* Category's badge */
.preview-wrapper .category-badge {
  position: absolute;
  top: 1.3rem;
  left: 1.8rem;
  width: 130px;
  height: 30px;
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
  pointer-events: none;
}

/* Category text overlay */
.preview-wrapper .preview-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s ease;
  z-index: 2;
}

.preview-wrapper .preview-text-overlay::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}

.preview-wrapper .preview-text-overlay > * {
  position: relative;
  z-index: 2;
  color: #fff;
}

/* Category's animation */
.preview-wrapper .current-text {
  opacity: 1;
}

.preview-wrapper .next-text {
  opacity: 0;
}

.preview-wrapper .preview-title {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 0.8rem;
}

.preview-wrapper .preview-date {
  display: block;
  font-size: 0.9rem;
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
}

.preview-wrapper .preview-desc {
  font-size: 0.85rem;
  padding-bottom: 2rem;
  padding-left: 0.8rem;
}

.custom-shadow {
  box-shadow: -10px 15px 20px rgba(0,0,0,0.2);
  border-radius: 0.75rem;
}
