body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  background-color: transparent !important;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color .4s ease-in-out;
}


/* Navbar core styling */
.navbar-nav {
  margin-left: 7rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding-top: 2px;
  gap: 0.75rem;
}

.navbar-brand {
  color: white !important;
  margin-left: 5.5rem;
  font-weight: 600;
}

.visit-text {
  line-height: 1;
  font-size: 0.9rem;
}

.azerbaijan-text {
  font-size: 1.5rem;
  line-height: 1;
}

.navbar .nav-link {
  color: white;
  position: relative;
  cursor: pointer;
  --text-width: 50%; /* Default width in percentage */
}


/* Navbar animation */
.navbar:hover {
  background-color: white !important;
}

.navbar:hover .nav-link, 
.navbar:hover .navbar-brand {
  color: black !important;
  transition: 0.4s ease-in-out;
}

.navbar:hover .nav-link:hover {
  color: #010e81 !important;
  transition: color 0s;
}

.navbar .nav-link::after {
  content: "";
  position: absolute;
  margin-bottom: 5px;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #010e81;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar .nav-link:hover::after {
  width: var(--text-width);
}

/* Active link styling */
.navbar .nav-link.active-link::after {
  width: var(--text-width);
}



/* Mega menu */
.mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  background-color: white;
  height: 85vh;
  z-index: 1000;
  display: none;
  padding-left: 150px;
  padding-right: 150px;
  overflow-y: auto;
  margin-top: 16px;
}

.nav-item {
  position: static;
}

.nav-item.show .mega-menu {
  display: block;
}

.mega-menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.mega-menu-header {
  position: relative;
  margin-bottom: 2rem; /* Reduce space below */
  padding-top: 1rem; /* Reduce padding below */
}

.mega-menu-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3.5rem; /* Extend line to the left */
  width: calc(100% + 7rem); /* Make line longer */
  height: 0.0625rem;
  background-color: #d1dbe4;
}

/* Mega menu item */
.mega-menu-item {
  margin-bottom: 1.5rem;
}

.mega-menu-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.mega-menu-item h4 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}


.mega-menu-links a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0;
  transition: color 0.3s;
}

.mega-menu-links a:hover {
  color: #0d6efd;
}

.close-mega-menu {
  position: absolute;
  top: 1rem;
  right: 150px;
  font-size: 2rem;
  cursor: pointer;
  color: #6c757d;
  z-index: 1000;

  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

