/* SECTION: Navbar */
.navbar-brand, .navbar .nav-link {
  color: black !important;
}

.navbar {
  background-color: white !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* SECTION: Registration form */
.registration-form{
  margin-top: 6rem;
}

.registration-label{
  font-weight: 600;
  color: #020b5a;
}

.btn-sing-up {
  font-weight: 600;
  align-items: center;
  color: #020b5a;
  border-color: #020b5a;
  border-width: 2px;
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 15%;
}

.btn-sing-up:hover{
  background-color: #020b5a;
  border-color: #020b5a;
}